/* Go to 51:10 */
*{

    margin: 0px;
    padding: 0px;
    /* top: 0px; */
}


#navbar{
    display: flex;
    align-items: center;
}
#logo{
margin: 5px 34px;
}
#logo img{
    opacity: 0.8;
    height: 56px;
    width: 60px;
    margin: -7px -10px;
    
}
#navbar{
    position: relative;
    
}
#navbar ul{
    /* opacity: 0.19; */
    display: flex;
}
#navbar::before{
    content: "";
    background-color: gray;
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
   top: 0px;
   left: 0px;
    
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;   
}
#navbar ul li a{
    /* top: 0p  x; */
    color: wheat;
    display: block;
   padding: 4px 16px ;
   text-decoration: none;
   border-radius: 12px;
}
#navbar ul li a:hover{
    color: black;
    background-color: rgb(243, 255, 255);
    opacity: 1.5;
    cursor: pointer;
}
/* <---------------navigation is completed till here ---------------------------> */
#home{
    display: flex;
    flex-direction: column;
    padding: 8px 200px;
    justify-content: center;
    align-items: center;
    height: 585px;
}
#home::before{
    content: "";
    background :url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
    top: 0px;
    left: 0px;
}
#services{
    margin: 3px 55px;
    display: flex;
}
.services-container{
    height: 566px;
    background-color: rgb(235, 231, 231);
    /* opacity: 0.5; */
    z-index: -3;
}
#services .box{
    /* position: absolute; */
    height: 310px;
    width: 500px;
    border: 3px solid rgb(83, 80, 80);
    padding: 35px;
    margin: 10px;
    border-radius: 30px;
    background-color: #fff;
}
#services .box:hover{
transform: scale(1.05);
/* margin: 5px; */
}
#services .box img{
    height: 255px;
    width: 255px;
    margin: 20px;
    display: block;
    margin: auto;
}
.box p{
    display: flex;
    font-family: 'Mate SC', serif;
    justify-content: center;
    /* align-items: center; */

}
.h-primary{
    font-size: 3.5rem;
    padding: 16px;
    font-family: 'Limelight', cursive;

}
.h-secondary{
    font-size: 1.5rem;
    padding: 16px;
    font-family: 'Limelight', cursive;
    /* justify-content: center; */

}
#home h1{
 color: #fff;
 text-align: center;
 font-family: 'Limelight', cursive;

}
#home p{
 color: #fff;
 text-align: center;
 font-size: 1.5rem;
 font-family: 'Mate SC', serif;
}
.btn{
    padding: 6px 20px;
    background-color: black;
    color: wheat;
    border: 2px groove #fff;
    border-radius: 10px;
    margin: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all ;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: rgb(185, 183, 183);
    transform: scale(1.1);
    border: 2px solid black;
}
.center{
    text-align: center;
}

#clients{
     display: flex;
     align-items: center;
     justify-content: center;
}
#clients img{
    height: 170px;
    margin: 5px 30px;
   
}
#clients img:hover{
    transform: scale(1.05);
    /* border: 3px solid red; */
}
#client-section{
     font-size: 50px;
     height: 300px;
     font-family: 'Limelight', cursive;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('bg1.jpg')no-repeat center center/cover;
    width: 100%;
    height: 46%;
    z-index: -1;
    top: 1200px;
    opacity: 0.6 ;
}
#contact{
    position: relative;
    height: 490px;
}
#contact::before{
    content: "";
    position: absolute;
    height: 103%;
    width: 100%;
    z-index: -2;
    opacity:0.9;
    background: url("contact.jpg")no-repeat center center/cover ;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;   
}
#contact-box form{
    height: 150px;   
    width: 450px;
}
#contact-box div{
    font-size: 1.2rem;
    font-family: 'Mate SC', serif;
}
#contact-box input ,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem; 
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 15px;
}
#contact-box input:hover ,
#contact-box textarea:hover{
  transform: scale(1.02);
  /* border: 3px solid wheat; */
}


footer{
    background: black;
    color: whitesmoke;
    
}

